<ion-header class="ion-no-border">
  <ion-toolbar style="--border-style: none">
    <ion-button class="toolbar-button" slot="start" fill="clear" (click)="goBack()" style="--padding-start: 0">
      <ion-icon size="large" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-button class="toolbar-button" (click)="addNewExpModal()" slot="end" fill="clear">
      <ion-label>Edit</ion-label>
    </ion-button>
  </ion-toolbar>
  
  <ion-list lines="none">
    <ion-item style="text-align: center;">
      <ion-label style="font-size: 20pt; font-weight: bold;"> {{ item.title }} </ion-label>
    </ion-item>
    <ion-item>
      <ion-title>€{{ (+item.price).toFixed(2) }} </ion-title>
    </ion-item>
    <ion-item style=" --padding-end: 0;">
      <ion-label>Livré par <strong>{{ item.name }}</strong> </ion-label>
      <ion-datetime slot="end" readonly displayFormat="DD/MM/YYYY" value="{{ item.date }}" style="text-align: end;"></ion-datetime>
    </ion-item>
    <ion-item-divider lines="full">
      
    </ion-item-divider>

    <ion-item lines="full">
      <ion-label>Détail :</ion-label>
      <ion-note slot="end" style="text-align: right;"> {{ details }} </ion-note>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Distance :</ion-label>
      <ion-note slot="end" style="text-align: right;"> {{ item.distance }} km </ion-note>
    </ion-item>

    <ion-item lines="full" *ngIf="item.type != 'prodOnly'">
      <ion-label>Nom du client :</ion-label>
      <ion-note slot="end" style="text-align: right;"> {{ item.clientName }} </ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Type de livraison :</ion-label>
      <ion-note slot="end" style="text-align: right"> {{ getType(item.type) }} </ion-note>
    </ion-item>

    <ion-item-divider>
      
    </ion-item-divider>

    <section>
      <ion-button lines="full" fill="clear" expand="full" (click)="delete()">
        <ion-label color="danger">Supprimer item</ion-label>
      </ion-button>
    </section>
  </ion-list>
</ion-header>

<ion-content>

</ion-content>
