<ion-toolbar>
  <ion-button fill="clear" (click)="close(false)">
    <ion-label>Annuler</ion-label>
  </ion-button>

  <ion-button slot="end" fill="clear" (click)="close(true)">
    <ion-label>Valider</ion-label>
  </ion-button>
</ion-toolbar>

<ion-content id="card-modal" style="--overflow: hidden;">
  <h1 style="text-align: center; font-size: 25pt; margin: 0;"><strong>Quantité</strong></h1>

  <ion-item lines="none" style="--padding-top: 15%; --padding-start: 20%; --padding-end: 20%; --inner-padding-end: 0">

    <ion-button [disabled]="disabled" fill="clear" size="large" style="margin: 0; --padding-start: 0; --padding-end: 0; --color: black" (click)="remove()">
      <div class="plus-button" #div style="margin: 0;">
        <ion-icon style="font-size: 30pt; margin: 0;" name="remove"></ion-icon>
      </div>
    </ion-button>

    <ion-button [disabled]="stop" slot="end" fill="clear" size="large" style="margin: 0; --padding-start: 0; --padding-end: 0; --color: black" (click)="add()">
      <div class="plus-button" #div style="margin: 0;">
        <ion-icon style="font-size: 30pt; margin: 0;" name="add"></ion-icon>
      </div>
    </ion-button>

  </ion-item>

    

  <ion-input id="number" [(ngModel)]="quantite" readonly [value]="quantite" type="text"></ion-input>

</ion-content>
